.u-section-3-1 {
  background-image: none;
}

.u-section-3-1 .u-sheet-1 {
  min-height: 965px;
}

.u-section-3-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 20px 322px 0 333px;
}

.u-section-3-1 .u-line-1 {
  width: 121px;
  height: 3px;
  transform-origin: right center 0px;
  margin: 20px auto 0 479px;
}

.u-section-3-1 .u-text-2 {
  font-style: italic;
  width: 851px;
  margin: 22px auto 0;
}

.u-section-3-1 .u-layout-wrap-1 {
  margin-top: 67px;
  margin-bottom: 0;
  background-image: none;
}

.u-section-3-1 .u-image-1 {
  background-image: url("images/34628579-0.jpeg");
  background-position: 50% 50%;
  min-height: 522px;
}

.u-section-3-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3-1 .u-layout-cell-2 {
  min-height: 522px;
}

.u-section-3-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3-1 .u-text-3 {
  line-height: 1.5;
  font-size: 2.8125rem;
  margin: 11px 0 0;
}

.u-section-3-1 .u-text-4 {
  font-size: 1.875rem;
  margin: 35px 40px 0;
}

.u-section-3-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 75px auto 0;
  padding: 15px 31px 16px 30px;
}

@media (max-width: 1199px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 649px;
  }

  .u-section-3-1 .u-text-1 {
    margin-left: 233px;
    margin-right: 222px;
    font-weight: normal;
  }

  .u-section-3-1 .u-layout-wrap-1 {
    position: relative;
    min-height: 280px;
  }

  .u-section-3-1 .u-image-1 {
    min-height: 430px;
  }

  .u-section-3-1 .u-layout-cell-2 {
    min-height: 430px;
  }

  .u-section-3-1 .u-text-3 {
    text-transform: none;
    font-weight: normal;
    margin-top: 76px;
  }

  .u-section-3-1 .u-text-4 {
    margin-top: 62px;
    margin-right: -23px;
    margin-left: 0;
  }

  .u-section-3-1 .u-btn-1 {
    margin-top: -238px;
    margin-right: 452px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 546px;
  }

  .u-section-3-1 .u-text-1 {
    margin-left: 123px;
    margin-right: 112px;
  }

  .u-section-3-1 .u-text-2 {
    width: 720px;
  }

  .u-section-3-1 .u-image-1 {
    min-height: 329px;
  }

  .u-section-3-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3-1 .u-text-4 {
    margin-right: -17px;
  }

  .u-section-3-1 .u-btn-1 {
    margin-top: -294px;
    margin-right: 305px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 962px;
  }

  .u-section-3-1 .u-text-1 {
    margin-left: 33px;
    margin-right: 22px;
  }

  .u-section-3-1 .u-line-1 {
    margin-left: 419px;
  }

  .u-section-3-1 .u-text-2 {
    width: 540px;
  }

  .u-section-3-1 .u-layout-wrap-1 {
    min-height: 417px;
  }

  .u-section-3-1 .u-image-1 {
    min-height: 569px;
  }

  .u-section-3-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3-1 .u-text-4 {
    margin-right: -22px;
  }

  .u-section-3-1 .u-btn-1 {
    margin-top: -266px;
  }
}

@media (max-width: 575px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 751px;
  }

  .u-section-3-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    font-size: 2.25rem;
  }

  .u-section-3-1 .u-line-1 {
    margin-left: 219px;
  }

  .u-section-3-1 .u-text-2 {
    width: 340px;
  }

  .u-section-3-1 .u-layout-wrap-1 {
    min-height: 265px;
  }

  .u-section-3-1 .u-image-1 {
    min-height: 358px;
  }

  .u-section-3-1 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-3-1 .u-text-4 {
    margin-right: -13px;
  }

  .u-section-3-1 .u-btn-1 {
    margin-top: -378px;
    margin-right: 105px;
  }
}.u-section-1 {
  background-image: none;
  min-height: 774px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: -12px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  background-image: url("images/5319b3de45f679c35292792e59966cae0f6848a43914dd4ba6c9aa0d7e40c17e3d0949724e6a848bca7218ca9c9df8a2b7fb1f2a5df21ae48845ae_12803.jpg");
  background-position: 50% 50%;
  min-height: 524px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 524px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 42px -30px 0 30px;
}

.u-section-1 .u-text-2 {
  margin: 91px -18px 0 18px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 91px auto 0;
}

.u-section-1 .u-image-2 {
  background-image: url("images/34628579-0.jpeg");
  background-position: 50% 50%;
  min-height: 262px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  background-image: url("images/aa459116e158cd17547519f206f8ae9ebda6135723d846476a53ffa0a716697c67f5b29ecd36cd18cf1f91f7a8c4192fdcba81d5e6a393262e275c_1280.jpg");
  background-position: 50% 50%;
  min-height: 262px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 262px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-1 .u-image-4 {
  height: 270px;
  margin-top: -38px;
  margin-bottom: -30px;
  object-position: 0% 50%;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 636px;
  }

  .u-section-1 .u-layout-wrap-1 {
    min-height: 510px;
  }

  .u-section-1 .u-image-1 {
    min-height: 432px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 432px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 144px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -124px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 204px;
    margin-left: 16px;
  }

  .u-section-1 .u-image-2 {
    min-height: 216px;
  }

  .u-section-1 .u-image-3 {
    min-height: 216px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 216px;
  }

  .u-section-1 .u-image-4 {
    height: 223px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 484px;
  }

  .u-section-1 .u-layout-wrap-1 {
    min-height: 85px;
  }

  .u-section-1 .u-image-1 {
    min-height: 331px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 169px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -185px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 240px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    min-height: 165px;
  }

  .u-section-1 .u-image-3 {
    min-height: 165px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 165px;
  }

  .u-section-1 .u-image-4 {
    height: 171px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1214px;
  }

  .u-section-1 .u-layout-wrap-1 {
    min-height: 440px;
  }

  .u-section-1 .u-image-1 {
    min-height: 293px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 94px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -74px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 204px;
  }

  .u-section-1 .u-image-2 {
    min-height: 458px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    min-height: 375px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 371px;
  }

  .u-section-1 .u-image-4 {
    height: 385px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 796px;
  }

  .u-section-1 .u-layout-wrap-1 {
    min-height: 22px;
  }

  .u-section-1 .u-image-1 {
    min-height: 184px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -66px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 196px;
  }

  .u-section-1 .u-image-2 {
    min-height: 288px;
  }

  .u-section-1 .u-image-3 {
    min-height: 236px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 234px;
  }

  .u-section-1 .u-image-4 {
    height: 242px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1501px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  margin: 39px 654px 0 0;
}

.u-section-2 .u-list-1 {
  min-height: 1237px;
  grid-template-rows: auto auto;
  width: 1140px;
  margin: 45px auto 60px 0;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 14px);
  grid-template-columns: calc(33.3333% - 14px) calc(33.3333% - 14px) calc(33.3333% - 14px);
  grid-gap: 21px 21px;
  grid-auto-rows: calc(50% - 10.5px);
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 0 88px 0 0;
}

.u-section-2 .u-line-1 {
  height: 4px;
  transform-origin: left center 0px;
  margin: 20px 1px 0 auto;
}

.u-section-2 .u-image-1 {
  width: 303px;
  height: 233px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 30px 1px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 25px auto 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 0 88px 0 0;
}

.u-section-2 .u-line-2 {
  height: 4px;
  transform-origin: left center 0px;
  margin: 20px 1px 0 auto;
}

.u-section-2 .u-image-2 {
  width: 303px;
  height: 233px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 30px 1px 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 25px auto 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 0 88px 0 0;
}

.u-section-2 .u-line-3 {
  height: 4px;
  transform-origin: left center 0px;
  margin: 20px 1px 0 auto;
}

.u-section-2 .u-image-3 {
  width: 303px;
  height: 233px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 30px 1px 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 25px auto 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  margin: 0 88px 0 0;
}

.u-section-2 .u-line-4 {
  height: 4px;
  transform-origin: left center 0px;
  margin: 20px 1px 0 auto;
}

.u-section-2 .u-image-4 {
  width: 303px;
  height: 233px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: 30px 1px 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 25px auto 0;
}

.u-section-2 .u-list-item-5 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  margin: 0 88px 0 0;
}

.u-section-2 .u-line-5 {
  height: 4px;
  transform-origin: left center 0px;
  margin: 20px 1px 0 auto;
}

.u-section-2 .u-image-5 {
  width: 303px;
  height: 233px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  margin: 30px 1px 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 25px auto 0;
}

.u-section-2 .u-list-item-6 {
  background-image: none;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  margin: 0 88px 0 0;
}

.u-section-2 .u-line-6 {
  height: 4px;
  transform-origin: left center 0px;
  margin: 20px 1px 0 auto;
}

.u-section-2 .u-image-6 {
  width: 303px;
  height: 233px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-13 {
  font-weight: 700;
  margin: 30px 1px 0;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 25px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1284px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -2px;
    margin-right: 554px;
    margin-left: 100px;
  }

  .u-section-2 .u-list-1 {
    min-height: 481px;
    height: auto;
    width: 940px;
    margin-top: 80px;
    margin-bottom: 0;
    margin-left: 100px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 14px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 14px));
  }

  .u-section-2 .u-text-2 {
    margin-left: 1px;
    margin-right: 0;
  }

  .u-section-2 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    height: 232px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-2 .u-btn-1 {
    width: 157px;
    height: 42px;
    margin-left: 1px;
  }

  .u-section-2 .u-list-item-2 {
    background-size: auto;
  }

  .u-section-2 .u-text-4 {
    margin-left: 1px;
    margin-right: 0;
  }

  .u-section-2 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 232px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 1px;
    width: 157px;
    height: 42px;
  }

  .u-section-2 .u-list-item-3 {
    background-size: auto;
  }

  .u-section-2 .u-text-6 {
    margin-left: 1px;
    margin-right: 0;
  }

  .u-section-2 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 232px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 1px;
    width: 157px;
    height: 42px;
  }

  .u-section-2 .u-list-item-4 {
    background-size: auto;
  }

  .u-section-2 .u-text-8 {
    margin-left: 1px;
    margin-right: 0;
  }

  .u-section-2 .u-line-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-4 {
    height: 232px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 1px;
    width: 157px;
    height: 42px;
  }

  .u-section-2 .u-list-item-5 {
    background-size: auto;
  }

  .u-section-2 .u-text-10 {
    margin-left: 1px;
    margin-right: 0;
  }

  .u-section-2 .u-line-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-5 {
    height: 232px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 1px;
    width: 157px;
    height: 42px;
  }

  .u-section-2 .u-list-item-6 {
    background-size: auto;
  }

  .u-section-2 .u-text-12 {
    margin-left: 1px;
    margin-right: 0;
  }

  .u-section-2 .u-line-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-6 {
    height: 232px;
  }

  .u-section-2 .u-text-13 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 1px;
    width: 157px;
    height: 42px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2022px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 617px;
    margin-right: 444px;
    margin-left: 210px;
  }

  .u-section-2 .u-list-1 {
    min-height: 828px;
    width: 720px;
    margin-top: -538px;
    margin-bottom: 60px;
    margin-left: 210px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 10.5px);
    grid-template-columns: calc(50% - 10.5px) calc(50% - 10.5px);
    grid-auto-rows: calc(33.33% - 14px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 5538px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 2472px;
    margin-right: 354px;
    margin-left: 300px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
    margin-top: -2394px;
    margin-left: 300px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: calc(16.66% - 17.5px);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3585px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 2424px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-top: -2319px;
    margin-bottom: 0;
    margin-left: 400px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-block-82a7-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-82a7-3 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
}

.u-block-82a7-4 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 0;
}.u-section-4 {
  min-height: 890px;
}

.u-section-4 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 491px);
  left: auto;
  right: 0;
  background-image: none;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px auto;
}

.u-section-4 .u-image-1 {
  min-height: 664px;
  background-image: url("images/34628579-01.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 355px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 76px;
  width: 76px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 378px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 76px;
  width: 76px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px 0 0;
}

.u-section-4 .u-text-4 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 168px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 441px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 76px;
  width: 76px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px 0 0;
}

.u-section-4 .u-text-6 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 147px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 758px;
  }

  .u-section-4 .u-shape-1 {
    width: 492px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-image-1 {
    min-height: 548px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 273px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 312px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 139px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 364px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 121px;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 554px;
  }

  .u-section-4 .u-shape-1 {
    width: 370px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-image-1 {
    min-height: 420px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 20px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding: 20px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 106px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-5 {
    padding: 20px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 93px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 1342px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 491px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-image-1 {
    min-height: 727px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding: 30px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 281px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 246px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 969px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    min-height: 404px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 150px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 155px;
  }
}.u-section-5 {
  background-image: none;
  min-height: 1164px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  width: 715px;
  font-size: 3.75rem;
  margin: 70px auto 0;
}

.u-section-5 .u-line-1 {
  width: 121px;
  height: 3px;
  transform-origin: right center 0px;
  margin: 20px auto 0;
}

.u-section-5 .u-shape-1 {
  height: 396px;
  margin: 595px auto 0 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1175px;
  margin: -971px calc(((100% - 1140px) / 2) + -35px) 60px auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 876px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  height: 451px;
  object-position: 50% 0%;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  text-transform: none;
  font-weight: 700;
  letter-spacing: normal;
  margin: 20px 0 0;
}

.u-section-5 .u-text-3 {
  margin: 20px 2px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 449px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-4 {
  font-weight: 400;
  margin: 0 21px 0 0;
}

.u-section-5 .u-text-5 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 449px;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-6 {
  font-weight: 400;
  margin: 0;
}

.u-section-5 .u-text-7 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-2 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 427px;
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-text-8 {
  font-weight: 400;
  margin: 0;
}

.u-section-5 .u-text-9 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-3 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-5 .u-image-2 {
  min-height: 427px;
  background-image: url("images/portrait-adorable-little-doggie_23-2148316293.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 {
    min-height: 1028px;
  }

  .u-section-5 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
    margin-bottom: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 701px;
  }

  .u-section-5 .u-image-1 {
    height: 348px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 359px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 359px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 342px;
  }

  .u-section-5 .u-image-2 {
    min-height: 342px;
  }
}

@media (max-width: 991px) {
  .u-section-5 {
    min-height: 997px;
  }

  .u-section-5 .u-shape-1 {
    height: 1092px;
    margin-top: 771px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -1745px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-image-1 {
    height: 693px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-5 .u-image-2 {
    min-height: 449px;
  }
}

@media (max-width: 767px) {
  .u-section-5 {
    min-height: 1403px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-shape-1 {
    height: 1616px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -2269px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-image-1 {
    height: 546px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    min-height: 674px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 {
    min-height: 1174px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-shape-1 {
    height: 1613px;
    margin-top: 638px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -2108px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-image-1 {
    height: 376px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    min-height: 424px;
  }
}.u-section-6 {
  background-image: url("images/ghhh-min.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 800px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 239px;
  }
}.u-section-7 {
  background-image: none;
  min-height: 50vw;
}

.u-section-7 .u-shape-1 {
  height: 459px;
  margin-top: 166px;
  margin-bottom: 0;
  background-image: none;
}

.u-section-7 .u-group-1 {
  width: 597px;
  min-height: 561px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -510px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 50px 30px 40px;
}

.u-section-7 .u-text-1 {
  text-transform: uppercase;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 28px 0 0 10px;
}

.u-section-7 .u-form-1 {
  height: 371px;
  margin: 20px -8px 0 3px;
}

.u-section-7 .u-form-group-1 {
  width: 100%;
}

.u-section-7 .u-form-group-2 {
  width: 100%;
}

.u-section-7 .u-form-group-3 {
  width: 100%;
}

.u-section-7 .u-form-group-4 {
  width: 100%;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-7 .u-image-1 {
  width: 377px;
  height: 377px;
  background-image: url("images/92fe7a6d61dc1c8bc0be00ab6493d2e66645ac5779484534eeaa4d5bbc35cd3c16ba194450a374ce6000fd3aaf85db4f2af3e4b49606c845bf44ec_1280.jpg");
  background-position: 50% 50%;
  margin: -455px auto 60px calc(((100% - 1140px) / 2) + 32px);
}

@media (max-width: 1199px) {
  .u-section-7 .u-shape-1 {
    margin-top: 74px;
  }

  .u-section-7 .u-group-1 {
    width: 459px;
    min-height: 527px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 31px;
    padding-right: 31px;
    padding-bottom: 24px;
  }

  .u-section-7 .u-form-1 {
    width: 395px;
  }

  .u-section-7 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + 32px);
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-shape-1 {
    height: 1003px;
    margin-top: -540px;
  }

  .u-section-7 .u-group-1 {
    width: 566px;
    margin-top: -1037px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-7 .u-container-layout-1 {
    padding: 40px;
  }

  .u-section-7 .u-form-1 {
    width: 504px;
  }

  .u-section-7 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2) + 32px);
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-shape-1 {
    height: 962px;
    margin-top: -485px;
  }

  .u-section-7 .u-group-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-container-layout-1 {
    padding: 30px 36px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
  }

  .u-section-7 .u-form-1 {
    width: 466px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2) + 32px);
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-shape-1 {
    height: 1043px;
    margin-top: -605px;
  }

  .u-section-7 .u-group-1 {
    width: 340px;
    margin-top: -1112px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-form-1 {
    width: 286px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }
}